<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="mb-0">All Restaurants</h1>
    <%= link_to "Add Restaurant", new_restaurant_path, class: "btn btn-primary" %>
  </div>

  <ul class="list-group">
    <% @restaurants.each do |restaurant| %>
      <li class="list-group-item">
        <%= link_to restaurant.name, restaurant_path(restaurant), class: "text-decoration-none" %>
      </li>
    <% end %>
  </ul>
</div>
